.product-card {
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .product-card__img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .product-card__body {
    padding: 10px;
  }
  
  .product-card__title {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .product-card__price {
    font-size: 1.4rem;
    font-weight: bold;
  }
  